// Application Layout SCSS

.content {
    padding-top: 60px;
}

.navigation-wrapper {
    .navbar {
        .nav-item {
            text-align: center;
            text-transform: uppercase;
        }
    }
}
