// Base Styles

html {
    height: 100%;
}

body {
    height: 100%;
}

.content {
    height: 100%;
    padding-top: $navbar-height;
}

// Fonts
@font-face {
    font-family: DINPro;
    src: url("/fonts/DINPro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DINProBold;
    src: url("/fonts/DINPro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: DINProLight;
    src: url("/fonts/DINPro-Light.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DINProBlack;
    src: url("/fonts/DINPro-Black.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DINProMedium;
    src: url("/fonts/DINPro-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Open-Sans;
    src: url("/fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
