// Base Styles
*, *:before, *:after {
    @include box-sizing(border-box);
}

.content {
    position: relative;
    padding-top: $navbar-height;
    font-family: 'DinPro', sans-serif;
    font-size: 18px;
}

.page-container {
    padding: 0 17%;
}

// Use with h2 tag
.title {
    font-family: 'DINProBold';
    color: $light-blue;
    font-size: 52px;
}

// Use with h3 tag
.subtitle {
    font-family: 'DINProMedium', sans-serif;
    color: $light-blue;
    font-size: 28px;
}

.title-underline {
    border-color: $blue;
    background-color: $blue;
    color: $light-blue;
    width: 200px;
    margin: 0 auto 40px;
}

// Allows centering of toast cols that are not in their own row
.row--centered {
    text-align: center;
    .col {
        text-align: left;
    }
}

// Fonts
@font-face {
    font-family: DINPro;
    src: url("/fonts/DINPro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DINProBold;
    src: url("/fonts/DINPro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: DINProLight;
    src: url("/fonts/DINPro-Light.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DINProBlack;
    src: url("/fonts/DINPro-Black.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DINProMedium;
    src: url("/fonts/DINPro-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Open-Sans;
    src: url("/fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

// Media Queries
@media (max-width: 720px) {
    .content {
        font-size: 16px;
    }
    .page-container {
        padding: 0 10%;
    }
}

@media (max-width: 520px) {
    .title {
        font-size: 48px;
    }
    .subtitle {
        font-size: 24px;
    }
}
