// Base Styles
html {
    font-size: 13px;
}

*, *:before, *:after {
    @include box-sizing(border-box);
}

.content {
    position: relative;
    padding-top: $navbar-height;
}

.page-container {
    padding: 0 17%;
    font-family: 'DinPro', sans-serif;
    a {
        text-decoration: none;
        color: $light-blue;
        transition: 200ms;
        &:hover {
            color: $gold;
        }
    }
}

.title {
    @extend .row;
    font-family: 'DINProBold';
    color: $light-blue;
    font-size: 4rem;
    text-align: center;
    margin: 20px 0;
    line-height: 6.75rem;
}

.title-underline {
    border-color: $blue;
    background-color: $blue;
    color: $light-blue;
    width: 200px;
    margin: 0 auto 40px;
}

// Page Grid Layout
.section-container {
    @extend .row;
    .section-header {
        @extend .col;
        @extend .col--1-of-4;
        @extend .col--m-1-of-1;
        text-align: right;
        font-family: 'DINProMedium', sans-serif;
        color: $light-blue;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .section-content {
        @extend .col;
        @extend .col--3-of-4;
        @extend .col--m-1-of-1;
        text-align: left;
        font-family: 'DinPro', sans-serif;
        .section-list {
            list-style-type: none;
        }
    }
}

// Allows centering of toast cols that are not in their own row
.row--centered {
    text-align: center;
    .col {
        text-align: left;
    }
}

// Fonts
@font-face {
    font-family: DINPro;
    src: url("/fonts/DINPro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DINProBold;
    src: url("/fonts/DINPro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: DINProLight;
    src: url("/fonts/DINPro-Light.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DINProBlack;
    src: url("/fonts/DINPro-Black.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DINProMedium;
    src: url("/fonts/DINPro-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Open-Sans;
    src: url("/fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

// Media Queries
@media (max-width: 920px) {
    .page-container {
        padding: 0 10%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 11px;
    }
    .section-container {
        .section-header {
            text-align: left;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 520px) {
    html {
        font-size: 10px;
    }
}
