// Customize Toast

$toast-grid-namespace: "row";
$toast-grid-column-namespace: "col";

$toast-col-groups: (2, 3, 4, 5, 6, 8, 12, 100);

$toast-breakpoint-medium: 720px;
$toast-breakpoint-small: 540px;
