.section-header {
  font-size: 70;
  font-family: "HelveticaNeue-UltraLight", Helvetica, sans-serif;
  letter-spacing: 0.2rem;
  margin-bottom: 10px; 
}

.section-paragraph {
  font-size: 18px;
  font-weight: lighter;
  line-height: 28px;
  color: #777;
}

.section-header-white {
  font-size: 70;
  font-family: "HelveticaNeue-UltraLight", Helvetica, sans-serif;
  letter-spacing: 0.2rem;
  margin-bottom: 10px; 
  color: white;
}

.section-paragraph-white {
  font-size: 18px;
  font-weight: lighter;
  line-height: 28px;
  color: white;
}
