.academics-page {
    .academics-container {
        width: 100%;
        margin: 0 auto;
        .academics-header {
            width: 30%;
            text-align: right;
            display: inline-block;
            vertical-align: top;
            font-family: DINProMedium;
            color: $light-blue;
        }
        .academics-info {
            width: 60%;
            margin-left: 5%;
            text-align: left;
            display: inline-block;
        }
    }
}
