.academics-page {
    .academics-container {
        width: 80%;
        margin: 0 auto;
        .academics-header {
            width: 15%;
            text-align: right;
            display: inline-block;
            vertical-align: top;
            font-family: DINProBold;
            color: $light-blue;
        }
        .academics-info {
            width: 75%;
            margin-left: 5%;
            text-align: left;
            display: inline-block;
        }
    }
}
