.advising-page {
    .section-content {
        .section-list {
            li {
                .links {
                    font-size: 1.5rem;
                }
            }
        }
        .info {
            .bold {
                font-family: 'DINProBold', sans-serif;
            }
            .description {
                font-size: 1.5rem;
            }
            .advisor {
                margin-top: 10px;
            }
        }
        .cnr-title {
            margin-top: 10px;
        }
    }
}
