.opportunities-page {

  .website-btn {
    background-color: white;
    color: #DAA104;
    border: 1px solid #DAA104;
  }

  .modal-btn[data-mode='new'] {
    margin-top: 10px;
  }
  
}


#deleteModal.modal-dialog{
  top: 20%;
  left: 35%;
}


#opportunityModal.modal-dialog {
  top: 10%;
  left: 35%;

  .fa {
    color: #b7b7b7;
  }

  .modal-content {
    background-color: #F4F4F4;

    .modal-header {
      h4 {
        font-weight: bold;
        text-align : center;
        color: #5A5A5A;
        font-size: 1.7em;
      }
    }
    .modal-body {
      height: 70%;
      .fieldName {
        font-weight: bold;
        color: #448AD4;
        font-size: 1.2em;
        margin: 10px 0px;
      }

      .categoryRadio {
        padding-left: 10px;
        input[type='radio'] {
          cursor: pointer;
          margin-top: -1px;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          border: #A5A5A5 2px solid;
        }
    
        label {
          margin: 10px 30px 10px 5px;
          color: #959595;
        }
        input[type='radio']:checked + label {
          color: #85afdf;
        }
      }

      .titleInput {
        input[type='text'] {
          width: 100%;
          background-color: #f9f9f9;
        }
      }

      .dateSelector {
        font-size: 1.1em;
        input[type='text'] {
          width: 10%;
        }
      }

      .md-editor {
        width: 100%;
        height: 60%;
        
        .md-input {
          height: 90%;
        }
      }


      .linkCategories {
        select {
          width: 70%;
        }
      }

      .linkFields {
        input[name='linkName'] {
          width: 30%;
          margin: 3px 0px;
        }
        input[name='linkURL'] {
          width: 50%;
          margin: 3px 0px;
        }
        .fa-times {
          margin-left: 5px;
          cursor: pointer;
          color: #7f7f7f;
        }
        .addLink {
          font-size: 1.0em;
          margin-top: 5px;
          color: #85afdf;
          .addText {
            cursor: pointer;
          }
        }
      }

    }
  }
  
  .modal-footer {
    text-align: center;
    .btn-primary {
      background-color: #EDBE3A;
      color: white;
      border: 1px solid white;
      font-weight: bold;
    }
  }
    
  
}
