.clubs-page {
    .contact-us {
        text-align: center;
        margin-bottom: 40px;
    }
    .section-item {
        margin-bottom: 20px;
        .section-item-title {
            // color: $gold;
            cursor: pointer;
        }
        .section-item-body {
            display: none;
        }
        .site-btn {
            color: $gold;
            border: 1px solid $gold;
        }
    }
    .section-item.expanded {
        .section-item-title {
            color: $gold;
            cursor: pointer;
        }
    }
}
