.visible {
  display: block;
}

.title-row {
  text-align: center;
  margin: 20px 0;

  .clubs-title {
    text-transform: uppercase;
  }
}


.contact-us {
  text-align: center;
  margin: 0 auto;
}

.club-type-list-row {
  margin: 10px 0;

  ul.club-type-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li.club-type-list-item {
      margin: 10px;
      padding: 1em;
      color: $grey;
      background-color: $light-grey;
      display: inline-block;
    }

  }
}

.club-link-list-title {
  font-family: DINProMedium;
  color: $light-blue;
}

.club-link-list {
  margin-bottom: 20px;


  .club-link-list-item-title {
    color: $gold;
    cursor: pointer;
  }

  .club-link-list-item-body {
    // display: none;
  }
}