<template name="about">
    <div class="page-container about-page">
        <div class="title">
            About
        </div>
        <hr class="title-underline">
        <div class="about-info">
            <p>
                There are nearly 26,000 undergraduate students at UC Berkeley. Up to 25% of the entire undergraduate student body is pre-medicine students, students who are pursuing medical school after completing an undergraduate career at UC Berkeley, and this number is steadily rising. Yet despite the overwhelming size of the pre-med community at Berkeley, students at Berkeley consider pre-med advising at Cal weak; and at times, even nonexistent.
            </p>
            <p>
                Our website aims to properly advertise all resources already available to Cal pre-med students and to make these resources accessible to everyone. We are not creating a new resource, but organizing existing resources and opportunities and making them easily navigable in our user friendly website. Our website is truly unique in that there is no single website that dedicates its existence to maintain an opportunities and events database catered specifically to pre-med students.
            </p>
            <p>
                Several other student organizations we talked to have also thought about creating such a resource in the past, and have voiced a need for one, but none of them actually developed one -- specifically because they could not find a way to keep up to date information and opportunities on their website and were intimidated by the scope of the project and the time commitment required in constantly updating the website with new events, positions and organizations. There are countless numbers of blogs, forums, and other websites that are Berkeley specific -- but most of them are outdated and it is simply overwhelming to have to sift through thousands of unrelatable posts. Based on our online survey data of 75 UC Berkeley students, 100% of respondents said they would use such a website, and 97% of those surveyed said they would recommend such a resource to others. In response to this overwhelming need, we present you Premed@Berkeley.
            </p>
        </div>
        <div class="row row--centered">
            {{ #each people }}
            <div class="col col--1-of-3 person-wrapper">
                <div class="photo">
                    <img src="{{ photo }}">
                </div>
                <div class="name">
                    {{ name }}
                </div>
                <div class="position">
                    {{ position }}
                </div>
                <a class="envelope-link" href="mailto:{{ email }}">
                    <div class="envelope"></div>
                </a>
            </div>
            {{ /each }}
        </div>
    </div>
</template>
