<template name="about">
    <div class="page-container about-page">
        <div class="title">
            About
        </div>
        <hr class="title-underline">
        <div class="about-info">
            {{{aboutText.text}}}
        </div>
        <div class="row row--centered">
            {{ #each people }}
            <div class="col col--1-of-3 person-wrapper">
                <div class="photo">
                    <img src="{{ photo }}">
                </div>
                <div class="name">
                    {{ name }}
                </div>
                <div class="position">
                    {{ position }}
                </div>
                <a class="envelope-link" href="mailto:{{ email }}">
                    <div class="envelope"></div>
                </a>
            </div>
            {{ /each }}
        </div>
    </div>
</template>
