<template name="about">
    <div class="container">
        <h1>About</h1>
    </div>

    <!-- Toast Example -->

    <div class="row">
        <div class="col col--1-of-2"></div>
        <div class="col col--1-of-2"></div>
    </div>

    <div class="row">
        <div class="col col--1-of-8"></div>
        <div class="col col--7-of-8"></div>
    </div>

    <!-- Medium, small breakpoint examples -->
    <div class="row">
        <div class="col col-25-of-100 col--m-50-of-100 col--s-100-of-100"></div>
    </div>

</template>
