<template name="academics">
    <div class="page-container academics-page">
        <div class="title">
            Academics
        </div>
        <hr class="title-underline">
        <div class="section-container">
            <div class="section-header" id="majors">
                Majors
            </div>
            <div class="section-content">
                <ul class="section-list">
                    {{ #each majors }}
                    <li>
                        {{ major }}
                        (<a href="{{ requirements }}">Major Requirements</a> | <a href="{{ info }}">Dept Info</a>)
                    </li>
                    {{ /each }}
                    <li>
                        Psychology
                        (Major Requirements
                        [<a href="http://psychology.berkeley.edu/students/undergraduate-program/lower-division-requirements-fall-2014-freshmenfall-2015-transfers">Lower Div</a> and
                        <a href="http://psychology.berkeley.edu/students/undergraduate-program/upper-division-requirements-applicable-fall-2013-admits">Upper Div</a>] | <a href="http://psychology.berkeley.edu/">Dept Info</a>)
                    </li>
                </ul>
            </div>
        </div>
        <div class="section-container">
            <div class="section-header" id="courses">
                Courses
            </div>
            <div class="section-content">
                <p>
                    Premed prerequisite courses:
                </p>
                <p>
                    <div class="subheader">Math</div>
                    Choose one of the 4 tracks
                    <ul>
                        {{ #each math}}
                        <li>
                            {{ class1 }} (<a href="{{ info1 }}">information</a> | <a href="{{ ratings1 }}">ratings</a>) and
                            {{ class2 }} (<a href="{{ info2 }}">information</a> | <a href="{{ ratings2 }}">ratings</a>)
                        </li>
                        {{ /each }}
                    </ul>
                </p>
                <p>
                    One semester of Stats is recommended:
                    <ul>
                        {{ #each stats}}
                        <li>
                            {{ class1 }} (<a href="{{ info1 }}">information</a> | <a href="{{ ratings1 }}">ratings</a>),
                            {{ class2 }} (<a href="{{ info2 }}">information</a> | <a href="{{ ratings2 }}">ratings</a>), or
                            {{ class3 }} (<a href="{{ info3 }}">information</a> | <a href="{{ ratings3 }}">ratings</a>)
                        </li>
                        {{ /each }}
                    </ul>
                </p>
                <p>
                    <div class="subheader">Chemistry</div>
                    <ul>
                        {{ #each chemistry }}
                        <li>
                            {{ class1 }} (<a href="{{ info1 }}">information</a> | <a href="{{ ratings1 }}">ratings</a>) and
                            {{ class2 }} (<a href="{{ info2 }}">information</a> | <a href="{{ ratings2 }}">ratings</a>)
                        </li>
                        {{ /each }}
                    </ul>
                </p>
                <p>
                    <div class="subheader">Biology</div>
                    <ul>
                        {{ #each biology }}
                        <li>
                            {{ class1 }} (<a href="{{ info1 }}">information</a> | <a href="{{ ratings1 }}">ratings</a>) and
                            {{ class2 }} (<a href="{{ info2 }}">information</a> | <a href="{{ ratings2 }}">ratings</a>)
                        </li>
                        <li>{{ class3 }} (<a href="{{ info3 }}">information</a> | <a href="{{ ratings3 }}">ratings</a>)</li>
                        <li>
                            {{ class4 }} (<a href="{{ info4 }}">information</a> | <a href="{{ ratings4 }}">ratings</a>) OR
                            {{ class5 }} (<a href="{{ info5 }}">information</a> | <a href="{{ ratings5 }}">ratings</a>)<br/>
                            <div style="text-align:center">OR</div>
                        </li>
                        <li>
                            {{ class6 }} (<a href="{{ info6 }}">information</a> | <a href="{{ ratings6 }}">ratings</a>) OR
                            {{ class7 }} (<a href="{{ info7 }}">information</a> | <a href="{{ ratings7 }}">ratings</a>)
                        </li>
                        {{ /each }}
                    </ul>
                </p>
                <p>
                    <div class="subheader">Physics</div>
                    <ul>
                        {{ #each physics }}
                        <li>{{ class }} (<a href="{{ info }}">information</a> | <a href="{{ ratings }}">ratings</a>)</li>
                        {{ /each }}
                    </ul>
                </p>
                <p>
                    <div class="subheader">Behavioral and Social Sciences (not formally required, but highly recommended for the MCAT!)</div>
                    <ul>
                        {{ #each socialscience}}
                        <li>
                            {{ class1 }} [for majors] (<a href="{{ info1 }}">information</a> | <a href="{{ ratings1 }}">ratings</a>) OR
                            {{ class2 }} [for non-majors] (<a href="{{ info2 }}">information</a> | <a href="{{ ratings2 }}">ratings</a>)
                        </li>
                        <li>{{ class3 }} (<a href="{{ info3 }}">information</a> | <a href="{{ ratings3 }}">ratings</a>)</li>
                        <li>{{ class4 }} (<a href="{{ info4 }}">information</a> | <a href="{{ ratings4 }}">ratings</a>)</li>
                        {{ /each }}
                    </ul>
                </p>
            </div>
        </div>
    </div>
</template>
