<template name="academics">
    <div class="page-container academics-page">
        <div class="title">
            Academics
        </div>
        <hr class="title-underline">
        <div class="section-container">
            <div class="section-header" id="majors">
                Majors
            </div>
            <div class="section-content">
                <p>UC Berkeley does not offer a Pre-med major.</p>
                <p>You can major in ANYTHING and still be eligible to apply for medical school.</p>
                <p>IN ADDITION OR IN CONJUNCTION take the pre-requisite courses.</p>
                <p>Even if you are not within these majors, you still haves access to their advisors who may offer relevant insight about many of the pre-med pre-requisite courses.</p>
            </div>
        </div>
        <div class="section-container">
            <div class="section-header" id="courses">
                Courses
            </div>
            <div class="section-content">
                <p>
                    <a href="https://career.berkeley.edu/medical/medical.stm">Cal Career Center</a> has an excellent
                    <a href="https://career.berkeley.edu/Medical/PrepPrereq">page</a> on the premed requirements and what UCB specific class can be cross listed as those requirements.
                </p>
                <p>
                    Upcoming Dates:
                    <a href="http://registrar.berkeley.edu/about_telebears.html">Click to find out about Tele-bears</a>
                </p>
                <p>
                    Phase I for Fall 2015:
                    <ul>
                        <li>Apr 6 - June 1</li>
                    </ul>
                    Phase II for Fall 2015:
                    <ul>
                        <li>July 16 - Aug 12</li>
                    </ul>
                </p>
                <p>
                    Here is the breakdown for Fall 2015 Telebears Appointments:
                    <ul>
                        <li>Special Action Students: Apr 6</li>
                        <li>Graduating Seniors (110+ units): Apr 7 - 13</li>
                        <li>Seniors (90-109 units): Apr 14 - 16</li>
                        <li>Juniors (60-89 units): Apr 21 - 24</li>
                        <li>Freshmen &amp; Sophomores (0-59 units): Apr 24 - 29</li>
                    </ul>
                    The class schedule for Fall 2015 is now live! Check it out <a href="http://schedule.berkeley.edu/srchfall.html">here</a>.
                </p>
            </div>
        </div>
    </div>
</template>
