<template name="academics">
    <div class="header">
        <div class="text">
            <h2 class="title">Academics</h2>
        </div>
    </div>
    <div class="sub-header" id="majors">
        <div class="text">
            <h3 class="subtitle">
                Majors
            </h3>
        </div>
    </div>
    <div class="triangle"></div>
    <div class="info">
        <ul>
            <li>UC Berkeley does not offer a Pre-med major</li>
             <li>You can major in ANYTHING and still be eligible to apply for medical school</li>
            <li>IN ADDITION OR IN CONJUNCTION take the pre-requisite courses</li>
            <li>Even if you are not within these majors, you still haves access to their advisors who may offer relevant insight about many of the pre-med pre-requisite courses.</li>
        </ul>
    </div>
    <div class="sub-header" id="professors">
        <div class="text">
            <h3 class="subtitle">Professors</h3>
        </div>
    </div>
    <div class="triangle"></div>
    <div class="sub-header" id="courses">
        <div class="text">
            <h3 class="subtitle">Courses</h3>
        </div>
    </div>
    <div class="triangle"></div>
    <div class="info">
        <p>
            <a href="https://career.berkeley.edu/medical/medical.stm">Cal Career Center</a> has an excellent
            <a href="https://career.berkeley.edu/Medical/PrepPrereq">page</a> on the premed requirements and what UCB specific class can be cross listed as those requirements.
        </p>
        <p>
            Upcoming Dates:
            <a href="http://registrar.berkeley.edu/about_telebears.html">Click to find out About Tele-bears</a>
        </p>
        <p>
            Phase I for Fall 2015:
            <ul>
                <li>Apr 6 - June 1</li>
            </ul>
            Phase II for Fall 2015:
            <ul>
                <li>July 16 - Aug 12</li>
            </ul>
        </p>
    <p>
       Here is the breakdown for Fall 2015 Telebears Appointments:
        <ul>
            <li>Special Action Students: Apr 6</li>
            <li>Graduating Seniors (110+ units): Apr 7 - 13</li>
            <li>Seniors (90-109 units): Apr 14 - 16</li>
            <li>Juniors (60-89 units): Apr 21 - 24</li>
            <li>Freshmen & Sophomores (0-59 units): Apr 24 - 29</li>
        </ul>
        The class schedule for Fall 2015 is now live! Check it out <a href="http://schedule.berkeley.edu/srchfall.html">here</a>
    </p>
  </div>
</template>
