<template name="advising">
    <div class="page-container advising-page">
        <div class="title">
            Advising
        </div>
        <hr class="title-underline">
        <div class="section-container">
            <div class="section-header" id="career">
                Cal Career Center
            </div>
            <div class="section-content">
                <p>
                    Are you thinking about being premed? LINK HERE.
                </p>
                <p>
                    Make an appointment with the advisors: LINK HERE.
                </p>
                <p>
                    Walk-in Advising:
                    <ul>
                        <li>Tuesdays 11am-3pm, 3060 Valley Life Sciences Building (inside IB/MCB advising offices)</li>
                        <li>Thursdays 3-4:30pm, 260 Mulford Hall (inside CNR undergraduate advising office)</li>
                    </ul>
                </p>
                <p>
                    Career Center Premed Guide: lINK HERE
                </p>
                <p>
                    Pre-Health Student Self Assessment:
                </p>
                <p>
                    Cal Health Peer Forum on LinkedIn
                </p>
                <p>
                    Counselors:
                    <ul>
                        <li>Marie Dutton:</li>
                        <li>Caitlin Green</li>
                    </ul>
                </p>
            </div>
            <div class="section-header" id="department">
                Department
            </div>
            <div class="section-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aut distinctio error! Repudiandae cumque iusto est nihil, consequuntur at laudantium voluptas dignissimos blanditiis facilis ipsam, laborum quod iure, deleniti laboriosam!
            </div>
            <div class="section-header" id="peer">
                Peer
            </div>
            <div class="section-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores doloribus tempora, voluptatem hic commodi blanditiis recusandae expedita nostrum, facere, pariatur odio fuga quidem error perspiciatis veritatis iusto quis illum neque?
            </div>
        </div>
    </div>
</template>
