<template name="calendar">
    <div class="calendar-wrapper">
        <h3 class="calendar-title subtitle">Calendar</h3>
          {{#if is_admin}}
          <div class="calendar-buttons">
            <button id='addToggle' name='addToggle'>{{add_text}}</button>
            <br />
            <input type='text' id='description' placeholder='Add a Description' style="display:none">
          </div>
          {{/if}}
        <div id="myCalendar"></div>
    </div>
    <br/>
    <br/>

    <div class="modal" data-keyboard="false" data-backdrop="static">
      <input class="modal-open" id="eventInfo" type="checkbox" style="display:none">
      <div class="modal-wrap" aria-hidden="true" role="dialog">
        <label class="modal-overlay" for="eventInfo"></label>
        <div class="modal-dialog">
          <div class="modal-header">
            <h2 id="deleteMessage" style="display:none;"></h2>
            <h2 id="info"></h2>
            <button id='closebox' class="btn-close" for="eventInfo" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
            Start Date: <span id="startDate"></span><br/>
            Start Time: <span id="startTime"></span><br/>
            Event Description: <span id="eventDescription"></span><br/>
            End: <span id="endDate"></span><br/>
            End Time: <span id="endTime"></span><br/>
          </div>
          <div class="modal-footer">
            {{#if is_admin}}
              <button id="delete" for="eventInfo">Delete</button>
              <button id="edit" for="eventInfo">Edit</button>
              <button id="confirm" for="eventInfo" style="display:none;">Confirm</button>
              <button id="cancel" for="eventInfo" style="display:none;">Cancel</button>
            {{else}}
              <button id="close" for="eventInfo">Close</button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
</template>
