<!-- NEED TO MOVE THIS TO ABOUT PAGE? -->

<template name="contribute">
	<div class="container">
		<div class="header">
			<strong>Do you have any additional resources for this page?</strong> <br>
			<strong>Please contribute using the box below! </strong><br>
			Email is checked and website is updated daily!<br>
			[*Acceptable submissions include advising resources/contact information on campus not already listed, not opinions about each advising resource]
		</div>
		<form id="suggestion-form">
		  <div class="row">
		    <div class="four columns">
		      <!-- <label for="email">Your name</label> -->
		      <input class="u-full-width" placeholder="Name" id="name" type="text">
		    </div>
		    <div class="four columns">
		      <input class="u-full-width" placeholder="Email" id="email" type="email">
		    </div>
		    <div class="four columns">
		      <input class="u-full-width" placeholder="Subject" id="subject" type="text">
		    </div>
		  </div>
		  <textarea class="u-full-width" placeholder="Message" id="message"></textarea>
		  <div class="row">
		    <div class="six columns">
		      <input class="u-full-width" placeholder="Link" id="link" type="text">
		    </div>
		    <div class="six columns">
		      <input class="u-full-width" placeholder="Image URL" id="image" type="text">
		    </div>
		  </div>
		  <input class="button-primary" value="Upload" type="file" id="imageUploader">
		  <input class="button-primary" value="Submit" type="submit">
		</form>
	</div>

</template>
