<template name="mcat">
    <div class="page-container mcat-page">
        <div class="title">
            MCAT
        </div>
        <hr class="title-underline">
        <div class="section-container">
            <div class="section-header">
                Official AAMC Info
            </div>
            <div class="section-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro distinctio aspernatur fugit, veritatis praesentium omnis tenetur a doloribus accusantium similique, asperiores commodi magni officiis! Tenetur vitae assumenda perferendis, commodi nulla!
            </div>
        </div>
        <div class="section-container">
            <div class="section-header">
                Review Resources
            </div>
            <div class="section-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur accusantium, tempora, quia libero doloribus vitae molestias delectus ipsam? Quae, magni, quis. Natus quae omnis, ut exercitationem veritatis inventore id doloremque!
            </div>
        </div>
        <div class="section-container">
            <div class="section-header">
                Free Online Resources
            </div>
            <div class="section-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ratione odio, dignissimos nisi animi adipisci porro, voluptatum illum! Eaque molestiae sunt similique hic ipsam soluta cumque ea! Molestias, officia, nesciunt.
            </div>
        </div>
        <div class="section-container">
            <div class="section-header">
                Best MCAT Books
            </div>
            <div class="section-content">
                A <a href="http://gradschool.about.com/od/medicalschool/tp/Best-Medical-College-Admission-Test-Mcat-Prep-Books.htm">comprehensive list</a> of the best MCAT study books.
            </div>
        </div>
        <div class="section-container">
            <div class="section-header">
                MCAT Myths
            </div>
            <div class="section-content">
                <a href="http://www.get-into-medicalschool.com/mcat-myths/">http://www.get-into-medicalschool.com/mcat-myths/</a>
            </div>
        </div>
    </div>
</template>
