<template name="mcat">
    <div class="page-container mcat-page">
        <div class="title">
            MCAT
        </div>
        <hr class="title-underline">
        <div class="section-container">
            <div class="section-header">
                Official AAMC Info
            </div>
            <div class="section-content">
                <ul>
                    <li>
                        MCAT lasts from 2-3 years but this varies from school to school, contact your school of interest to find out more about this.
                    </li>
                    <li>
                        Read more about the new 2015 MCAT <a href="https://www.aamc.org/students/applying/mcat/mcat2015/">HERE</a>.
                        Prep101 also has a <a href="http://prep101.com/mcat/2015-changes-faq/">comprehensive website</a> regarding the new MCAT.
                    </li>
                    <li>
                        <a href="https://www.aamc.org/students/applying/mcat/reserving/261800/registrationdeadlines.html">MCAT Dates/Registering for the Exam</a>
                    </li>
                    <li>
                        <a href="http://www.e-mcat.com/">MCAT Practice Exams</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section-container">
            <div class="section-header">
                Review Resources
            </div>
            <div class="section-content">
                <ul>
                    <li>
                        <a href="http://www.princetonreview.com/medical/mcat-test-preparation.aspx">Princeton Review</a>
                        <ul>
                            <li>
                                <a href="http://www.princetonreview.com/medical/free-mcat-practice-test.aspx">Free Online Practice</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://www.berkeley-review.com/">Berkeley Review</a>
                    </li>
                    <li>
                        <a href="http://www.kaptest.com/mcat">Kaplan</a>
                        <ul>
                            <li>
                                Offers comprehensive test courses at Hotel Durant each semester with a full review of material and 5 full-length practice tests
                            </li>
                            <li>
                                <a href="http://www.yelp.com/biz/kaplan-test-prep-and-admissions-berkeley">Reviews of Kaplan</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://www.examkrackers.com/MCAT/">Exam Krackers</a>
                    </li>
                    <li>
                        <a href="https://benchprep.com/mcat">Bench Prep</a>
                    </li>
                    <li>
                        <a href="http://www.amazon.com/Barrons-MCAT-Medical-College-Admissions/dp/0764138014">Barron's</a>
                    </li>
                    <li>
                        <a href="http://www.amazon.com/McGraw-Hills-MCAT-Second-Edition-CD/dp/007163309X">Mcgraw Hill</a>
                    </li>
                    <li>
                        <a href="http://berkeley.universitytutor.com/MCAT">Private Tutoring</a>
                    </li>
                    <li>
                        <a href="https://www.khanacademy.org/test-prep/mcat">Khan Academy</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section-container">
            <div class="section-header">
                Free Online Resources
            </div>
            <div class="section-content">
                <ul>
                    <li>
                        <a href="https://www.khanacademy.org/test-prep/mcat">https://www.khanacademy.org/test-prep/mcat</a>
                    </li>
                    <li>
                        <a href="http://premed.osmosis.org/">http://premed.osmosis.org/</a>
                    </li>
                    <li>
                        <a href="http://mcat-review.org/">http://mcat-review.org/</a>
                    </li>
                    <li>
                        <a href="http://www.mcatquestion.com/">http://www.mcatquestion.com/</a>
                    </li>
                    <li>
                        <a href="http://www.testprepreview.com/mcat_practice.htm">http://www.testprepreview.com/mcat_practice.htm</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section-container">
            <div class="section-header">
                MCAT Myths
            </div>
            <div class="section-content">
                <a href="http://www.get-into-medicalschool.com/mcat-myths/">http://www.get-into-medicalschool.com/mcat-myths/</a>
            </div>
        </div>
        <div class="section-container">
            <div class="section-header">
                Best MCAT Books
            </div>
            <div class="section-content">
                A <a href="http://gradschool.about.com/od/medicalschool/tp/Best-Medical-College-Admission-Test-Mcat-Prep-Books.htm">comprehensive list</a> of the best MCAT study books.
            </div>
        </div>
    </div>
</template>
