<template name= "orgs">
	<div class="page-container clubs-page">
		<div class="title">
			Clubs and Organizations
		</div>
		<hr class="title-underline">
		<div class="title-tagline">
			Contact us to list your organization here!
		</div>

		{{#each clubs}}

		<div class="section-container">
			<div class="section-header">
				{{this.category}}
			</div>
			<div class="section-content">
		  	{{#each this.clubs}}
				<div class="section-item">
					<div class="section-item-title">
		      {{this.name}}
		      <div class="arrow">
		      	<i class="fa fa-angle-right fa-lg"></i>
		      </div>
					</div>
					<div class="section-item-body">
						<p>{{this.description}}</p>
						<button class="site-btn">View Website</button>
					</div>
				</div>
		  	{{/each}}
			</div>
		</div>

		{{/each}}


	</div>

</template>


