<template name= "orgs">
<!-- <select id="category-select">
    <option disabled="disabled" selected="selected">Please Select</option>
    {{#each categories}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
</select> -->
<!-- {{#if is_Admin}}
<div class="container">
	<input class="button-primary" value="Add resources" type="button" id="renderForm">
</div>
{{/if}}
 -->
<!-- <div class="row"> -->
	<!-- The body is 4/5 width right now. -->
	<div class="col col--4-of-5 col--centered">
		<div class="title-row row">
			<h2 class="title">Clubs and Organizations</h2>
			<hr class="orgs-divider" />
			<div class="contact-us">
				Contact us to list your organization here!
			</div>
		</div>

		<div class="club-type-list-row">
			<ul class="club-type-list col col--centered">
				<li class="club-type-list-item">DeCals</li>
				<li class="club-type-list-item">DeCals</li>
				<li class="club-type-list-item">DeCals</li>
				<li class="club-type-list-item">DeCals</li>
				<li class="club-type-list-item">DeCals</li>
				<li class="club-type-list-item">DeCals</li>
				<li class="club-type-list-item">DeCals</li>
				<li class="club-type-list-item">DeCals</li>
			</ul>
		</div>
	</div>

	<div class="club-link-list-row row">
		<div class="club-link-list-title col col--1-of-6 col--push-1-of-6">
			<h4>DeCals</h4>
		</div>
		<div class="club-link-list col col--3-of-6 col--push-2">
			<div class="club-link-list-item">
				<div class="club-link-list-item-title">
					AAPI Community Health Issues DeCal
					<!-- <span class="club-link-list-item-arrow"></span> -->
				</div>
				<div class="club-link-list-item-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam explicabo ex doloremque, enim perferendis praesentium eos voluptates impedit suscipit quis corrupti quaerat laborum reprehenderit, rem inventore odit eum eveniet veniam quo nesciunt, ratione corporis similique ipsa. Illum, optio possimus accusantium quae libero cum est quas iure cupiditate obcaecati deleniti veniam porro! Cumque explicabo hic qui veritatis rem sunt iusto repudiandae! Facere dolore laborum consequatur ex quos animi earum aliquid impedit quasi commodi ab, enim labore voluptates, vero minus reiciendis quibusdam optio architecto! Iste unde nemo quibusdam, provident recusandae placeat ipsam perspiciatis quaerat, veniam non. Nihil sed nemo autem pariatur fugit?</p>
				<button class="club-link-list-item-btn">View Course Website</button>
			</div>
		</div>
		<div class="club-link-list-item"></div>
		<div class="club-link-list-item"></div>
		<div class="club-link-list-item"></div>
	</div>

</div>
<!-- </div> -->
</template>


